body {
    margin: 0;
}

.heading {
    text-align: center;
}


.board {
    display: table;
}

.preview .board {
    margin: auto;
    width: 16vh;
    height: 8vh;
}

.mainBoard.board {
    border: 5px solid red;
    width: 95%;
    height: 88vh;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: top;
}

.board .cell {
    border: 1px solid grey;
}

.pause_banner {
    position: absolute;
    font-size: 10vh;
    font-weight: bold;
    width: 100vw;
    text-align: center;
    top: 25vh;
}

.heading h1, .heading h2 {
    margin: 0;
}

.heading span {
    margin-right: 30px;
}

.mainArea {
    display: table;
    width: 64vh;
    margin: auto;
}

.mainCell {
    width: 70%;
}

.info {
    border: 5px solid red;
    width: 100%;
    height: 88vh;
}

.paused {
    opacity: 0.3;
}

.hidden {
    display: none;
}

.info h3, h1 {
    text-align: center;
    margin: 0;
}

.info > div {
    margin-bottom: 25px;
}

.info > div:last-child {
    margin-bottom: 0px;
}
